@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

body {
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    font-size: 1rem;
}

.ant-carousel .slick-prev,
.ant-carousel .slick-next,
.ant-carousel .slick-prev:hover,
.ant-carousel .slick-next:hover {
    font-size: 20px;
    color: white;
    width: fit-content;
    height: fit-content;
    padding: 12px;
    border-radius: 100%;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.4);
}

.ant-carousel .slick-prev {
    left: -60px;
}

.ant-carousel .slick-next {
    right: -60px;
}